<div ng-include="'rubriques/Onglets.html'"></div>

<div id='divImprimerie'>
    <div class="row">
        <div class="col-lg-8" style='margin-top:4px;'>

            <!-- entete filtres et boutons listye imprimerie-->
            <ul class="list-unstyled list-inline">
                <li ng-repeat="champFiltre in champsAfiltrerImprimerie" >
                   
                 <a ng-if="champFiltre.champ=='priorite'"  ng-click="supprimerFiltres();filtreperso.priorite='EXPRESS'" class='alert alert-danger puceImprimerie' title='nombre de job Express en attente'>{{ nbJobsExpress() }}</a>
                 
                 <a ng-if="filtreperso[champFiltre.champ]!=undefined && filtreperso[champFiltre.champ]!=''" ng-click="filtreperso[champFiltre.champ]=''" class='alert  puceImprimerie' style='margin-left:-10px;' title='Retirer le filtre'><i class="glyphicon glyphicon-minus-sign"></i></a>
                 
                 
                    <select class="form-control" style='color:black;width:124px;' ng-model="filtreperso[champFiltre.champ]"
                            ng-options="job[champFiltre.champ] as job[champFiltre.champ]  for job in (productionOrders | filter:{code_planche :filtreperso.code_planche || undefined, papier :filtreperso.papier || undefined,genre :filtreperso.genre || undefined, priorite :filtreperso.priorite || undefined, decoupe :filtreperso.decoupe|| undefined, finition :filtreperso.finition || undefinedfinition }) | orderBy:champFiltre.champ | unique :champFiltre.champ">

                        <option value="">> {{champFiltre.label}}</option>
                    </select>
                     
                </li>

               

            </ul>
 				
                <div class='row'>
                    <div class='col-lg-2 pull-right'>
                    <button class='btn btn-warning btn-sm'  ng-show="casejob.length>0" ng-click="casejob = [];"> Tout déselectionner</button>
                    </div>
                </div>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td ng-repeat="champ in champsProductionOrders">
                        <a ng-click="$parent.sortType = champ.champ; $parent.sortReverse = !($parent.sortReverse)">
                            {{ champ.label }}
                            <span ng-show="$parent.sortType == champ.champ && !($parent.sortReverse)"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="$parent.sortType == champ.champ && $parent.sortReverse"
                                  class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>Actions</td>
                  
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'jobSelectionne': casejob[job.id_ordre]}" ng-repeat="job in filteredJobs = (productionOrders | orderBy:sortType:sortReverse | filter:searchCommande |filter:{
                                                                                                                            papier: filtreperso['papier'] || undefined,
                                                                                                                             genre: filtreperso['genre'] || undefined,
                                                                                                                            code_planche : filtreperso['code_planche'] || undefined,
                                                                                                                           finition : filtreperso['finition'] || undefined,
                                                                                                                             decoupe : filtreperso['decoupe'] || undefined,
                                                                                                                            priorite : filtreperso['priorite'] || undefined                                                                                                                            }: true  )">
                    <td ng-repeat="c in champsProductionOrders">
                       
                      
                        {{ job[c.champ]}} <span ng-if="c.champ=='ref'"> x {{job.quantite}}</span>
                      
                     
                    </td>
                    
                    <td>
                       

                       <a title="ouvrir la commande" href='#/Commande/{{job.Id_com}}' target='_blank'>D</a>
                    </td>
                    
             
                </tr>
                </tbody>
            </table>
        </div>

    
    </div>
</div>
</div>
<div class="col-lg-1"></div>

</div>

